*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(bacground.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
#gate-name{
    position:absolute;
    top: 280px;
    left: 45.5%;
    text-align: center;
    text-shadow: 1px 0.5px 1px green;
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 18px;
}
.bird{
    height: 100px;
    padding: 40px;
   
}
.bird img{
  width: 110px;
 
}
.lion{
    width: 100%;
    
   
}
.lion img{
    width: 200px;
    
}
.main{
    background-image: url(house.png);
    background-size: cover;
    width: 70%;
    height: 85vh;
    
    margin: auto;
    margin-top: 20px;
    
    
}
.main1{
    width: 25%;
    height: 290px;
   
    margin: auto;
    
   position: relative;
   top: 210px;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    color: white;
    
    
    
    
}


.navbar{
    width: 80%;
    height: 45vh;
    background-image: url(bacground.jpg);
    margin: auto;
    background-size: cover;
    padding-top: 30px;
    
    
}
.navbar li{
    width: 100%;
    list-style: none;
    text-align: center;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 1s;

}
.navbar li:hover{
    color: white;
}

#rightg{
    width: 45%;
    height: 48vh;
    background-image: url(door.jpg);
    background-size: cover;
   box-shadow: 2px 3px 20px rgba(0,0,0,0.2);
    position:relative;
    top: -275px;
    left:5%;
    transition: 1s linear;
    border-radius: 10px;
    border-right:10px solid white ;
    cursor: pointer;
   
}
#leftg{
    width: 45%;
    height: 48vh;
    background-image: url(door.jpg);
    background-size: cover;
    position:relative;
    top: -564px;
    right: -105px;
    transition: 1s linear;
    border-radius: 10px;
    border-left:10px solid white ;
    cursor: pointer;
}
button{
    width: 100px;
    padding: 10px;
    background-color: aquamarine;
    
    margin-left: 0px;
    
    border: 0;
    outline:0;
    border-radius: 20px;

}

.big{
    
    width: 15%;
    height: 100vh;
    margin-left: 100px;
   margin-top: -100px;
    transform: scale(6);
   
    
   
   
}
.big2{
    width: 150px;
    height: 100px;
    margin-left: 80px;
   
  
    
}
.big1{
    width: 15%;
    margin-left: -80px;
    
}
.circal{
    width: 100px;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    margin-left: -40px;
    margin-top: 320px;
}
.circal h2{
    text-align: center;
    color: white;
    padding-top: 13px;
}

    
 #page1{   
    height: 40px;
    text-align: center;
    color: black;
   
    position:absolute;
    left: 33.5%;
    top:250px ;
    background-color: rgba(9, 108, 237, 0.943);
    
    
    overflow: hidden;
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    
    
    
}


/* project page styling*/

#page2{
    width: 120px;
    height: 20px;
    text-align: center;
    color: black;
    margin: auto;
     position:absolute;
     left: 29.5%;
     top:420px ;
    background-color:  rgba(9, 108, 237, 0.943);
    
    
    overflow: hidden;
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

#project-h1{
    margin-top: 0px;
    font-size: 23px;
    margin-top: -20px;
    text-align: center;
    color: rgb(35, 29, 30);
    margin-bottom: 10px;
}
.projects{
 width: 90%;
 height:260px;
 overflow: scroll;
 
 scroll-behavior: smooth;
 background-color: rgb(251, 251, 251);
 margin: auto;
 border-radius: 12px;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track{
    background-color:white ;
    border-radius: 20px;
    display: none;

}
::-webkit-scrollbar-thumb{
    background-color: gray ;
    height: 40px;
    
}
::-webkit-scrollbar-corner{
    border-radius: 20px;
    
}


.project-con{
    
    border: 1.1px solid rgba(204, 204, 203, 0.849);
    width: 100px;
    height: 110px;
    border-radius: 10px;
    text-align: center;

     margin: 20px;
    margin-top: 30px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    transition: 0.5s linear;
    

}
.project-con:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    border: 1.2px solid greenyellow;
    transform: scale(1.07);
   
}
.project-con img{
    
    width: 80px;
    height: 80px;
    border-radius: 12px;
    margin-top: 3px;
    
}
.project-con h2{
    font-size: 13px;
    color: rgb(0, 0, 0);
}


/*about us page styling */





#page3{   
    height: 20px;
    text-align: center;
    color: black;
   
    position:absolute;
    left: 33.5%;
    top:250px ;
     
    background-color: rgba(9, 108, 237, 0.943);
    overflow: hidden;
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    
    
    
}



.aboutus {
    width: 90%;
    height: 270px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    
    
    margin: auto;
    padding: 10px;
    background-color: white;
    margin-bottom: 60px;
    
}


.aboutus-1 {
    width: 90%;
  margin: auto;
   
  
}

.aboutus-1 .img{
    width: 80px;
    height: 80px;
    background-image: url(41825c2a-ebd2-4bb4-8ad9-7a347e6b3a44.jpg);
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    
}

.aboutus-1 h1 {
     color:#0375ef;
    font-size: 20px;
    text-align: center;

}
.aboutus-1 p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.aboutus-2 {
    width: 80%;
   
}


/* skill section styling*/


#page4{   
    height: 20px;
    text-align: center;
    color: black;
    position:absolute;
    left: 29.5%;
    top:250px ;
    background-color:  rgba(9, 108, 237, 0.943);
    
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}



.skills {
  
    background-color: white;
    width:80%;
    height:280px;
    flex-direction: column;
    margin: auto;
    border-radius: 12px;
    

    
}

.skillmain {
    width: 80%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;

}

.skillmain p {
    color: RGB(1, 3, 50);
    font-size: 12px;
    margin-top: 8px;
    font-family: 'Belanosima', sans-serif;
}

.skillmain h1 {
    color: #ef034e;
    font-family: 'Belanosima', sans-serif;
    font-size: 20px;

    
}
.container {
    width: 90%;
    height: 10px;
    font-size: 10px;
    background-color: rgb(69, 67, 67);
    font-family: 'Belanosima', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.skills-c {
    width: 0%;
     height: 10px;
    background-color:#ef034e;
    color: wheat;
    padding-left: 90%;
}


.skills-cp {
    width: 70%;
    height: 10px;
    background-color:green;
    color: wheat;
    padding-left: 70%;
}

.skills-html {
    width: 90%;
    height: 10px;
    background-color:aqua;
    color: wheat;
    padding-left: 90%;
}

.skills-css {
    width: 70%;
    height: 10px;
    background-color: blueviolet;
    color: wheat;
    padding-left: 70%;
}

.skills-js {
    width: 75%;
    height: 10px;

    background-color: RGB(100, 3, 50);
    color: wheat;
    padding-left: 75%;
}

.skills-Rjs {
    width: 30%;
    height: 10px;
    background-color: RGB(1, 300, 50);
    color: wheat;
    padding-left: 30%;
}

.skills-typing {
    width: 80%;
    height: 10px;
    background-color: RGB(10, 30, 500);
    color: wheat;
    padding-left: 80%;
}







#page5{   
    height: 20px;
    text-align: center;
    color: black;
    position:absolute;
    left: 29.5%;
    top:220px ;
     
    background-color:  rgba(21, 21, 21, 0.961);
    
  
    overflow: hidden;
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    
    
    
}
#page5 h1{
  color: white;
}
.tools{
    width: 100%;
    height: 250px;

    margin: auto;
    margin-top: -30px;
    display: flex;
    align-items: center;
    
}
.tools-info{
width: 20%;
height: 150px;
border: 2px solid rgb(228, 10, 130);
border-radius: 12px;
margin-left: 20px;

}
.tools-info h3{
    font-size: 15px;
    text-align: center;
    
}
.tools-info img{
    margin-top: 12px;
    width: 80px;
    height: 80px;
    border-radius: 12px;
}



#page6{   
    height: 20px;
    text-align: center;
    color: black;
    position:absolute;
    left: 33.5%;
    top:640px ;
     
    background-color:  rgba(9, 108, 237, 0.943);
    
   
    overflow: hidden;
    transform: scale(0.000001);
    transition:all 3s linear;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    
    
    
}





